body {
    background: #0e0e11;
    color: #eaeaea;
    font-family: Cairo, sans-serif;
    padding: 20px;
}

nav a {
    color: #00d9ff;
    margin: 0 10px;
    text-decoration: none;
}

#dashboard-data {
    background: #16161c;
    padding: 15px;
    border-radius: 10px;
    margin-top: 15px;
}

ul {
    margin-top: 20px;
}
