<!DOCTYPE html>
<html lang="ar" dir="rtl">
<head>
    <meta charset="UTF-8">
    <title>إنشاء حساب</title>
</head>
<body>

    {% extends "base.html" %}

{% block content %}
<h2>🔥 Dashboard</h2>

<p>مرحبا بك {{ user.username }} 👋</p>
{% endblock %}
    
<h2>إنشاء حساب</h2>

{% if error %}
<p style="color:red;">{{ error }}</p>
{% endif %}

<form method="POST" action="/register">
    <label>اسم المستخدم</label>
    <input type="text" name="username" required>

    <label>البريد الإلكتروني</label>
    <input type="email" name="email" required>

    <label>كلمة المرور</label>
    <input type="password" name="password" required>

    <button type="submit">تسجيل</button>
</form>

<a href="/login">لديك حساب؟ تسجيل دخول</a>

</body>
</html>
